<div id="featuredProducts" class="container"> 
	<div id="featureHead" class="container">
		<img ng-src="./assets/images/feature-head.gif">
	</div>
	<ul class="nav nav-pills" id="genderTab">
		<li><a ng-click="pageCtrl.setGender('Female'); pageCtrl.showProducts()" href>Women</a></li>
		<li><a ng-click="pageCtrl.setGender('Male'); pageCtrl.showProducts()" href>Men</a></li>
	</ul>
	<ul class="nav nav-pills" id="categoryTab">
		<li><a ng-click="pageCtrl.setCategory('Casual'); pageCtrl.showProducts()" href>Casual</a></li>
		<li><a ng-click="pageCtrl.setCategory('Formal'); pageCtrl.showProducts()"  href>Formal</a></li>
		<li><a ng-click="pageCtrl.setCategory('Shoes'); pageCtrl.showProducts()" href>Shoes</a></li>
	</ul>
	<div id="products">
		<ul ng-repeat="item in pageCtrl.activeProducts" id="product">
			<div>
				<section id="productImage">
					<img ng-src="{{item.img}}">
				</section>
				<aside class="productInfo">
					<h5>{{ item.name }}</h5>
					<p>Colour: {{ item.colour }}</p>
					<p>Price: {{ item.price | currency : "£" : symbol : fractionSize }}</p>
					<p>Sale Price: {{ item.salePrice | currency : "£" : symbol : fractionSize }}</p>
					<p>In Stock: {{ item.stockQuantity }}</p>
					<div ng-controller="BasketController as basketCtrl">
						<button id='addBasket' class='btn' ng-click='basketCtrl.addItem(item);  basketCtrl.update()'><span>Add to Basket</span></button>
					</div>
				</aside>
			</div>
		</ul>
	</div>
</div>