#departments {
	margin-top: 50px;
}

.department {
	margin: 20px 0;
	position: relative;
	height: 450px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px;
}

.depContents {
	background-color: rgba(51, 51, 51, 0.79);
	position: relative;
	padding: 50px 30px;
	height: inherit;
	color: white;
	width: 30%;
	text-align: center;
}

.depContents > h3 {
	margin:30px 0;
}

.department:first-child {
	background-image: url('../images/why.jpg');
}



#Creative {
	background-color: rgba(237, 20, 61, 0.79);
	float: right;
}
.department:nth-child(2)  {
	background-image: url('../images/branding.jpg');
  background-size: contain;
  background-position-x: 30%;
}



#Print {
	background-color: rgba(20, 203, 237, 0.79);
}
.department:nth-child(3) {
	background-image: url('../images/print.png');
  background-size: contain;
  background-position-x: 90%;
}



#Digital {
	background-color: rgba(20, 43, 237, 0.79);
	float: right;
}
.department:nth-child(4) {
	background-image: url('../images/digital.jpg');
	background-size: 70%;
}



#Interiors {
	background-color: rgba(237, 224, 20, 0.79);
}
.department:nth-child(5) {
	background-image: url('../images/muchu_curve.jpg');
	background-size: 80%;
  background-position-x: 100%;
}



#Shopfit {
	background-color: rgba(20, 237, 60, 0.79);
	float: right;
}
.department:nth-child(6) {
	background-image: url('../images/shopfit.jpg');
	background-size: 65%
}
