body {
	margin-top: 100px;
	color: #616262;
}

/* Navbar */

.navbar-inverse {
	background-color: rgba(4, 1, 1, 0.76);
}

.navbar-inverse .navbar-nav > li > a {
	color: #C79D6E;
	letter-spacing: 2px;
	font-family: MS Serif4, New York6, serif;
	font-weight: 100;
	font-size: 15px;
	margin-top: 6px;
	margin-right: 10px;
}

.navbar {
	margin-bottom: 0px;
	border-bottom-width: 0px;
}

.navbar-brand > img {
	display: block;
	height: 40px;
	margin-top: 5px;
	margin-left: 20px;
}
.navbar-brand{
	padding-top: 0px;
	padding-bottom: 0px;
}


/*

@media screen and (max-width:650px) {
	.nav-pills {
		width: 332px;
		margin: auto;
	}
}

*/