body {
	margin-top: 55px;
	color: #343535;
  font-family: futura;
}

@font-face {
  font-family: AG-Book;
  src: url(../fonts/ag-book/AG-Book-Stencil.ttf);
}

/* Navbar */


.navbar.navbar-nav > li > a {
  letter-spacing: 1px;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: 100;
  font-size: 13px;
  margin-right: 10px;
}

.navbar {
	margin-bottom: 0px;
	border-bottom-width: 0px;
  height: 55px;
}

.container-fluid > .navbar-header {
  margin-top: 5px;
  margin-left: 15%;
}

a.navbar-title {
  font-size: 2.5em;
  color: rgb(108, 107, 108);
  letter-spacing: 1px;
  font-weight: 100;
  text-decoration: none;
  outline: none;
}

.navbar-nav {
    margin-left: 40px;
    margin-top: 3px;
}